{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Esse bloco é um gerenciamento de Erro, não precisa mexer -->
{% if errors %}
<div class="container">
	{%- for msg in errors %}
	<div class="alert alert-danger" role="alert">
		{{ msg }}
		{% for error in errors[msg] %}
		{{error}}
		{% endfor %}
	</div>
	{% endfor -%}
</div>
{% endif %}
<!-- Faça o template a partir daqui-->

<h1>{{ title }}</h1>
<form action="" method="POST" novalidate>
	{{ form.hidden_tag() }}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 text-right">
				<div>
					{{ form.mandante() }}
					{{ form.gols_mandante(size=5) }}
				</div>
				<div><img class="escudo-mini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Yellow_card.svg/92px-Yellow_card.svg.png">
					{{ form.amarelos_mandante(size=2) }}
					<img class="escudo-mini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Red_card.svg/92px-Red_card.svg.png">
					{{ form.vermelhos_mandante(size=2) }}
				</div>
			</div>
			<div class="col-lg-1 text-center versus-symbol" style="padding-top: 3px; font-size: 6vh;">X</div>
			<div class="col-lg-5 text-left">
				<div>
					{{ form.gols_visitante(size=5) }}
					{{ form.visitante() }}
				</div>
				<div><img class="escudo-mini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Yellow_card.svg/92px-Yellow_card.svg.png">
					{{ form.amarelos_visitante(size=2) }}
					<img class="escudo-mini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Red_card.svg/92px-Red_card.svg.png">
					{{ form.vermelhos_visitante(size=2) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="margin: 1em;"></div>
		</div>
		<div class="row">
			<div class="col-md-4 text-right">
				{{ form.rodada.label }}: {{form.rodada(size=3)}}
			</div>
			<div class="col-md-3" style="padding-top: 0.7em;">
				{{ form.data.label }}: {{ form.data() }}
			</div>
			<div class="col-md-4 text-left">
				{{ form.enviar(class="btn btn-success") }}
				{% if jogo %}
				<a class="btn btn-danger" href="{{ url_for('jogos.delete', id=jogo.id) }}"></span>Deletar</a>
				{% endif %}
			</div>
		</div>
	</div>
</form>

{% endblock %}